@inherits LayoutComponentBase
<PageTitle>BlazorServerTailwindTemplate</PageTitle>
<div class="h-screen grid grid-rows-[auto_1fr_auto]">
	<header>
		<div class="p-8 bg-slate-800"></div>
	</header>
	<main class="m-4">@Body </main>
	<footer>
		<div class="p-8 bg-slate-800"></div>
	</footer>
</div>

