<div class="navbar">

    <div class="flex gap-4 items-center">
        <img src="logo.svg" alt="logo" class="logo">
        <div class="flex gap-4 items-center">
            <NavLink ActiveClass="nav-item-active" class="nav-item" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink ActiveClass="nav-item-active" class="nav-item" href="/counter">Counter</NavLink>
            <NavLink ActiveClass="nav-item-active" class="nav-item" href="/FetchData">Weather</NavLink>
        </div>
    </div>

    <div class="flex items-center px-4">
        <DarkModeToggle/>
    </div>

</div>