@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi 👋</h1>


<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur id temporibus cumque ipsam fuga architecto dolore ad exercitationem aliquam sequi, natus amet necessitatibus laudantium in tempore, commodi veniam neque accusantium!</p>
</article>