<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
		/>
		<title>BlazorWasmTailwindTemplate</title>
		<base href="/" />
		<link href="css/app.min.css" rel="stylesheet" />
		<link href="BlazorWasmTailwindTemplate.styles.css" rel="stylesheet" />
		<link rel="shortcut icon" href="favicon.svg" type="image/svg" />
		<script
			src="https://kit.fontawesome.com/76e470f6e6.js"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		<div id="app">
			<div class="loading-screen">
				<i
					class="fas fa-spinner animate-spin text-xl text-sky-600 dark:text-sky-300"
				></i>
				<p class="ml-2 text-xl font-bold">Loading...</p>
			</div>
		</div>

		<div id="blazor-error-ui" class="hidden">
			<div
				class="flex justify-between bg-yellow-100 bottom-0 left-0 fixed w-full z-50 py-2.5 px-5 border-t-2 border-gray-200 text-lg dark:bg-yellow-300 dark:text-gray-800 dark:border-gray-800"
			>
				<p>
					An error has occurred
					<a href="" class="reload text-blue-500">Reload</a>
				</p>
				<a class="dismiss cursor-pointer">🗙</a>
			</div>
		</div>
		<script src="_framework/blazor.webassembly.js"></script>
	</body>
</html>
